#!/bin/bash

set -eufo pipefail

# Install brew if it's not already installed
if ! command -v brew >/dev/null; then
  (echo '🍺  Installing Homebrew' && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)")
fi
