# This script will re-run when packages.yaml changes
# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.mas -}}
mas install {{ .id }}
{{ end -}}
EOF
{{ end -}}
