[user]
  name = James Pogran
  email = james.pogran@puppetlabs.com

[alias]
  lg = "log --pretty=format:'%C(yellow)%h%C(reset) %s %C(cyan)%cr%C(reset) %C(blue)%an%C(reset) %C(green)%d%C(reset)' --graph --date-order"
  # View abbreviated SHA, description, and history graph of the latest 20 commits
  l = log --pretty=oneline -n 20 --graph --abbrev-commit

  # View the current working tree status using the short format
  s = status -s

  # Show verbose output about tags, branches or remotes
  tags     = tag -l
  branches = branch -a
  remotes  = remote -v

  # Amend the currently staged files to the latest commit
  amend = commit --amend --reuse-message=HEAD

[core]
  excludesfile = /opt/boxen/config/git/gitignore

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space


[color]

  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
  ui = auto

[color "branch"]

  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]

  meta = yellow bold
  frag = magenta bold # line info
  old  = red # deletions
  new  = green # additions

[color "status"]

  added     = yellow
  changed   = green
  untracked = cyan

[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1

[filter "lfs"]
  clean    = git lfs clean %f
  smudge   = git lfs smudge %f
  required = true

[hub]
protocol = https

[credential]
  helper = /opt/boxen/bin/boxen-git-credential

[push]
  default = simple

[pull]
  rebase = true
[rerere]
	enabled = true
