[include]
  path = ~/.gitconfig-shell
[include]
  path = ~/.gitconfig-alias
[includeIf "gitdir:~/src"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/src/puppetlabs"]
	path = ~/.gitconfig-work
[help]
	autocorrect = 1
[color]
  ui = auto
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[core]
	editor = code --wait
	commit = verbose
	autocrlf = true
