user: 'james.pogran'
services:
  abs:
    type: 'abs'
    url: 'https://abs-prod.k8s.infracore.puppet.net/api/v2'
    vmpooler_fallback: 'vmpooler'
    token: ''
  vmpooler:
    type: 'vmpooler'
    url: 'https://vmpooler.delivery.puppetlabs.net'
    token: ''
  nspooler:
    type: 'nspooler'
    url: 'https://nspooler-service-prod-1.delivery.puppetlabs.net'
    token: ''