{{- $hostname := .chezmoi.hostname -}}
{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $isWsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}

{{- if eq .chezmoi.os "windows" -}}
[cd]
  command = "pwsh"
  args    = ["-nologo"]
{{ end -}}

[diff]
  exclude = ["scripts"]
  command = "code-insiders"
  args    = ["--wait", "--diff", "{{ .Destination }}", "{{ .Target }}"]

[edit]
  command = "code"
  args    = ["--wait"]

[git]
  autoCommit = true
  autoPush   = true

[data]
  username    = "jpogran"
  dotusername = "james.pogran"
  name        = "james"
  fullname    = "James Pogran"
  email       = "jpogran@outlook.com"
  sigkey      = "45CAED724A0A0B34"
  editor      = "code-insiders --wait"
  codespaces  = {{ $codespaces }}
  hostname    = {{ $hostname | quote }}
