{{- $hostname := .chezmoi.hostname -}}
{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $isWsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
{{- $isWorkMachine := eq .chezmoi.username "james.pogran" -}}

data:
  codespaces    : {{ $codespaces }}
  hostname      : {{ $hostname | quote }}
  isWorkMachine : {{ $isWorkMachine }}
git:
  autoCommit: true
  autoPush: true
interpreters.ps1:
  command : "pwsh"
  args :
    - "-NoLogo"
    - "-NoProfile"
