{{- $hostname := .chezmoi.hostname -}}
{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $isWsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}

{{- if eq .chezmoi.os "windows" -}}
[cd]
  command = "pwsh"
  args    = ["-nologo"]
{{ end -}}

[diff]
  exclude = ["scripts"]
  command = "code-insiders"
  args    = ["--wait", "--diff", "{{ .Destination }}", "{{ .Target }}"]

[edit]
  command = "code"
  args    = ["--wait"]

[git]
  autoCommit = true
  autoPush   = true

[data]
  username    = "jpogran"
  dotusername = "james.pogran"
  name        = "james"
  fullname    = "James Pogran"
  email       = "jpogran@outlook.com"
  sigkey      = "45CAED724A0A0B34"
  editor      = "code-insiders --wait"
  codespaces  = {{ $codespaces }}
  hostname    = {{ $hostname | quote }}

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$python\
$character"""

[directory]
style = "blue"

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vicmd_symbol = "[❮](green)"

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[python]
format = "[$virtualenv]($style) "
style = "bright-black"
