brew "bat"
brew "chezmoi"
brew "fish"
brew "gh"
brew "git"
brew "gnupg"
brew "mas"
brew "mise"
brew "starship"
brew "wget"
brew "zsh"
cask "1password-cli"
cask "discord"
cask "font-cascadia-code"
cask "font-fira-code-nerd-font"
cask "ghostty"
cask "powershell"
cask "slack"
cask "visual-studio-code"
cask "zoom"
mas "1Password for Safari", id: 1569813296
mas "GarageBand", id: 682658836
mas "Home Assistant", id: 1099568401
mas "iMovie", id: 408981434
mas "keymapp", id: 6472865291
mas "Keynote", id: 409183694
mas "NextDNS", id: 1464122853
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
