export PATH=$HOME/bin:/usr/local/bin:$PATH

# User configuration
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='code'
fi

function ni() {
  mkdir -p "$(dirname "$1")/" && touch "$1"
}

# sudo ntpdate ntp.ubuntu.com &>/dev/null &

eval "$(oh-my-posh init zsh)"
