#!/bin/sh

HOMEBREW_PREFIX="${HOMEBREW_PREFIX:-$HOME/.brew}"
PATH="$HOMEBREW_PREFIX/bin:$HOME/.local/bin:$PATH"

if command -v op >/dev/null 2>&1; then
    exit
fi

tmpdir=$(mktemp -d -t install-package-manager.XXXXXX)
trap 'rm -rf "$tmpdir"' EXIT INT TERM

case "$(uname -s)" in
Darwin)
    if ! [ -x "$HOMEBREW_PREFIX/bin/brew" ]; then
        echo >&2 "Installing homebrew"
        "$CHEZMOI_COMMAND_DIR/scripts/macos/install-brew" -s "$HOMEBREW_PREFIX" || {
            rm -rf "$HOMEBREW_PREFIX"
            echo >&2 "Failed to install homebrew"
            exit 1
        }
    fi

    brew install 1password-cli
    ;;
Linux)
*)
    echo "Error: unsupported OS: $(uname -s)"
    exit 1
    ;;
esac

# create ~/.1password symlink to 1Password agent socket
# This script is run once on the first run of chezmoi
# and is not run again on subsequent runs.
if [ ! -e ~/.1password/agent.sock ]; then
    mkdir -p ~/.1password
    ln -s ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock ~/.1password/agent.sock
fi
