#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.universal.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.universal.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.universal.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.universal.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
{{ if ne .isWorkMachine true -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.personal.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.personal.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.personal.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.personal.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{ end -}}
{{ end -}}

{{ if .isWorkMachine -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.work.taps -}}
tap {{ .name | quote }}{{if .url }}, {{ .url | quote }}{{ end }}
{{ end -}}
{{ range .packages.work.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.work.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
