background-blur-radius = 20
background-opacity = 0.9
bold-is-bright = true
confirm-close-surface = false
copy-on-select = true
cursor-color = #ffffff
cursor-text = #000000
font-family = Cascadia Code
font-family = FiraCode Nerd Font Mono # fallback
font-feature = 'ss02', 'ss19', 'ss20'
font-size = 18
macos-auto-secure-input = true
macos-option-as-alt = true
macos-titlebar-style = tabs
minimum-contrast = 1.05
mouse-hide-while-typing = true
shell-integration = fish
theme = carbonfox
window-inherit-working-directory = false
window-padding-balance  = true
working-directory = home

keybind = ctrl+page_down=scroll_page_down
keybind = ctrl+page_up=scroll_page_up
