[settings]
experimental = true
idiomatic_version_file_enable_tools = ["ruby"]

# Global environment variables
[env]
EDITOR = "code --wait"
PAGER = "less -R"

[tools]
go = "latest"
node = "lts"
rust = "stable"
