[tools]
node = '{{ .data.versions.node }}'
golang = '{{ .data.versions.go }}'
python = '{{ .data.versions.python }}'
rust = '{{ .data.versions.rust }}'
hugo-extended = "0.128.0"

[settings]
experimental = true
