#!/usr/bin/env fish

set -x LC_ALL en_US.UTF-8
set -x LANG en_US.UTF-8

set -U fish_greeting

set -x EDITOR 'code --wait'

set -x SSH_AUTH_SOCK ~/.1password/agent.sock

# Add the shims to the end of PATH as fallback for VS Code
# https://mise.jdx.dev/ide-integration.html#vscode
# set -x PATH $PATH ~/.local/share/mise/shims
# set -x PATH $PATH ~/Applications/bin ~/.npm/bin ~/.cargo/bin

fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/sbin
fish_add_path /opt/homebrew/opt/libpq/bin
set -gx LDFLAGS "-L/opt/homebrew/opt/libpq/lib"
set -gx CPPFLAGS "-I/opt/homebrew/opt/libpq/include"

if status is-interactive
{{ if .isWorkMachine -}}
    if not set -q ACCESS_TOKEN
        set ACCESS_TOKEN $(doormat artifactory create-token | jq -r .access_token)
    end
    set -gx ATLAS_JANUS_ENGINE_PATH ~/src/hashicorp/janus-rails-engine
    set -gx USER "james.pogran"
    set -gx BUNDLE_ARTIFACTORY__HASHICORP__ENGINEERING "$USER%40hashicorp.com:$ACCESS_TOKEN"
    echo $ACCESS_TOKEN | docker login docker.artifactory.hashicorp.engineering --username "$USER@hashicorp.com" --password-stdin
    echo $ACCESS_TOKEN | docker login tf-cloud-local.artifactory.hashicorp.engineering --username "$USER@hashicorp.com" --password-stdin
    eval "$(tfcdev rc)"
{{ end -}}

    mise activate fish | source

    /opt/homebrew/bin/brew shellenv | source

    starship init fish | source
end
